<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>课程设计要求</title>
    <link rel="stylesheet" type="text/css" href="~/Scripts/layui/css/layui.css" />
</head>
<body>
    <fieldset class="layui-elem-field layui-field-title site-demo-button" style="margin-top: 30px;">
        <legend>课程设计文档</legend>
    </fieldset>
    <div class="layui-collapse">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">目的与要求</h2>
            <div class="layui-colla-content layui-show">
                &emsp;&emsp;本课程旨在培养学生掌握网页特效制作的基础知识和基本技能。通过本课程的学习要求学生能掌握JavaScript基础知识、JavaScript对象编程、JavaScriptBOM编程、JavaScriptDOM编程、Jquery等知识，能够独立制作中小型的网站。
                <br>
                &emsp;&emsp;为了解学生对网页制作的掌握程度，侧重实践能力的考核测评，实践考核方式通过上机操作考核学生制作网站的能力，采用综合项目测试的考核形式。成绩评定：考试成绩占60%，平时成绩占40%。
                考试的基本要求如下：
                <br>
                &emsp;&emsp;<span class="layui-badge layui-bg-green">1</span>&nbsp;要求设计并制作一个《web前端开发技术》课程的主题网站，通过网站的制作，综合运用本课程所学的知识。
                <br>
                &emsp;&emsp;<span class="layui-badge layui-bg-green">2</span>&nbsp;评分方式按照评分标准逐个页面浏览，如果网站中出现<strong style="color: red;">3处及以上的内容雷同，双方都要扣分，并要求重做。</strong>
            </div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">考试内容</h2>
            <div class="layui-colla-content layui-show">
                &emsp;&emsp;<span class="layui-badge layui-bg-green">1</span>&nbsp;自己确定一个主题，整个网站要突出主题，信息分类合理，站点中的网页做到布局合理、美观、风格统一、导航清晰。
                <br>
                &emsp;&emsp;<span class="layui-badge layui-bg-green">2</span>&nbsp;网页内容分为指定内容与自选内容两部分；指定内容与自选内容不需要有任何相关性。
                <img src="~/Content/img/Requirements.png" style="margin: 50px;">
                <br>
                <blockquote class="layui-elem-quote">
                    指定内容部分包含下面的内容，每部分的内容需要用不少于3个页面来展示。具体要求如下：
                    <ul>
                        <li style="list-style: disc;">网站首页：在首页的页脚部分，要求有版权信息；包括：班别、学号、制作人、联系方式、制作时间等。</li>
                        <li style="list-style: disc;">课程设计要求：将本课程设计要求的内容做成独立的部分，用网页的形式呈现出来。</li>
                        <li style="list-style: disc;">
                            自我介绍：（关于作者）
                            <ul>
                                <li>1)介绍作者本人的网页，其中必须含有：本人的照片、学号、姓名、联系方式、邮件地址等信息</li>
                                <li>2)介绍自己的成长经历（可以以简历形式呈现）</li>
                                <li>3)对自己所学专业的描述，以及对未来职业方向的展望</li>
                            </ul>
                        </li>
                        <li style="list-style: disc;">
                            课程设计（网站）技术文档：主要描述网站设计，包括：
                            <ul>
                                <li>1)写出网站内容的主题内容</li>
                                <li>2)解析网站版面的设计风格与颜色搭配</li>
                                <li>3)描述文件分类存放的方式，具体的文件存放位置等</li>
                                <li>4)在制作的过程中用到的软件工具、实现效果、创意与特色等</li>
                            </ul>
                        </li>
                        <li style="list-style: disc;">
                            课程问题集锦：
                            <ul>
                                <li>1)写出整个创作过程中的体会，特别是遇到的问题及解决办法</li>
                                <li>2)收集本课程的问题及解决方法</li>
                            </ul>
                        </li>
                    </ul>
                    自选内容部分的具体要求：
                    <ul>
                        <li style="list-style: disc;">站点中自选内容部分的网页必须构成一个拥有至少三个栏目、每个栏目至少有二个子项的树形结构形态。<strong style="color: red;">（即自选部分至少6个网页）</strong></li>
                        <li style="list-style: disc;">主题内容，可以分多个子栏目分别介绍主题的各个细节。</li>
                        <li style="list-style: disc;">围绕主题的其他信息和链接。</li>
                    </ul>
                </blockquote>
            </div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">版面及格式</h2>
            <div class="layui-colla-content layui-show">
                <ul>
                    <li><span class="layui-badge layui-bg-green">1</span>&nbsp;网页设计可以根据个人的爱好设置栏目，充分发挥想象力进行制作，要求图文并茂，颜色搭配合理。</li>
                    <li><span class="layui-badge layui-bg-green">2</span>&nbsp;网站首页的页脚部分，要求有版权信息；包括：班别、学号、制作人、联系方式、制作时间等。</li>
                    <li><span class="layui-badge layui-bg-green">3</span>&nbsp;网页设计中要求有8处JS+JQ实现的特效，如果能加入自己创作的动态元素(如Flash，Gif动画等)和超过8处JS+JQ将获得加分。</li>
                    <li><span class="layui-badge layui-bg-green">4</span>&nbsp;导航设计简洁明了，要求各网页间能相互链接，不能有“死链接”，要保证能够在网络上浏览。</li>
                    <li><span class="layui-badge layui-bg-green">5</span>&nbsp;要求每个网页能使用前驱课程所学知识布局，正确运用模板。</li>
                </ul>
            </div>
        </div>

        <div class="layui-colla-item">
            <h2 class="layui-colla-title">制作要求</h2>
            <div class="layui-colla-content layui-show">
                <ul>
                    <li><span class="layui-badge layui-bg-green">1</span>&nbsp;以独立网站的形式制作，发布后能正常使用Web浏览器进行浏览。</li>
                    <li><span class="layui-badge layui-bg-green">2</span>&nbsp;主页文件名必须用“index.html” ，站点的根文件夹使用myweb，所有文件名都必须为英文字母。</li>
                    <li><span class="layui-badge layui-bg-green">3</span>&nbsp;版面设计精美，网站结构不要过于复杂，条理清晰，浏览方便简单。</li>
                    <li><span class="layui-badge layui-bg-green">4</span>&nbsp;可以有相关的站点的友情链接。</li>
                </ul>
            </div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">网站提交方式</h2>
            <div class="layui-colla-content layui-show">
                <ul>
                    <li><span class="layui-badge layui-bg-green">1</span>&nbsp;按要求提交整个网站文件。</li>
                    <li>
                        <span class="layui-badge layui-bg-green">2</span>&nbsp;提交包含整个网站的原站点文件，将站点的根文件夹“myweb”存放于以两位学号+姓名作为名称的文件夹中<strong style="color: red;">（我检查从首页index开始，所以务必做好网页之间的链接）</strong>。
                    </li>
                    <li><span class="layui-badge layui-bg-green">3</span>&nbsp;拟安排在1月14日上午、15日进行课程设计答辩演示。演示完根据修改建议修改后发到钉钉群。</li>
                </ul>
            </div>
        </div>

        <div class="layui-colla-item">
            <h2 class="layui-colla-title">网页评分标准</h2>
            <div class="layui-colla-content layui-show">
                <blockquote class="layui-elem-quote">
                    <ul>
                        <li>
                            <span class="layui-badge layui-bg-green">1</span>
                            &nbsp;指定内容部分：（25％）
                            <ul>
                                <li style="list-style: disc;">由首页index打开，超链接正确（10％）适当运用history和location的对象，不能全部不是静态页面的超级链接（不能出现没有必要的空链接和死链接）</li>
                                <li style="list-style: disc;">
                                    首页部分（原创）：（5％）
                                    <ul>
                                        <li style="list-style: disc;">首页的版权信息（2％）</li>
                                        <li style="list-style: disc;">首页设计及与内页设计呼应（3％）</li>
                                        <li style="list-style: disc;">课程设计要求（3％）</li>
                                        <li style="list-style: disc;">自我介绍（原创）（3％）</li>
                                        <li style="list-style: disc;">课程设计技术文档（原创）（2％）</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="layui-badge layui-bg-green">2</span>
                            &nbsp;自选内容部分：（75％）——<strong style="color: red;">注意不能是静态网站，如果是直接判不及格</strong>。
                            <span class="layui-badge layui-bg-cyan" style="font-size: 14px;">强调“自己的创意”，不管主题是什么，也不论是哪一个栏目的内容，要求创意独特，有自己鲜明的个性、观点。要求如下： </span>
                            <ul>
                                <li style="list-style: disc;">主题鲜明，有关主题的内容丰富（10％）</li>
                                <li style="list-style: disc;">原创内容丰富，能体现自己的想法，文字流利通顺（10％）</li>
                                <li style="list-style: disc;">版面布局合理，整理效果美观（8％）</li>
                                <li style="list-style: disc;">其他内容如友情链接、相关资料等（2％）</li>
                                <li style="list-style: disc;">JS+JQ（45%）</li>
                            </ul>
                        </li>
                    </ul>
                </blockquote>
            </div>
        </div>
    </div>
    <fieldset class="layui-elem-field">
        <legend>End</legend>
        <div class="layui-field-box">
            <ul>
                <li style="list-style: disc;">JS对象，如时间对象，正则表达式，表单验证等</li>
                <li style="list-style: disc;">BOM编程，如窗口弹开，标题交替</li>
                <li style="list-style: disc;">DOM编程，如动态编辑表格</li>
                <li style="list-style: disc;">JQ,如留言板（节点的操作），图片轮播（定时器和事件的应用），图片提示效果，表格显示特效，导航菜单特效等</li>
                <li style="list-style: disc;">及其他创新设计。（注：JS+JQ编程实现8处以上的特效才能及格）</li>
            </ul>
            <p style="margin-left: 500px;">——此为及格的必要条件！</p>
        </div>
        <blockquote class="layui-elem-quote">提示：可以将平时的实训案例根据自己的主题需要加以利用，但是不能生搬硬套，要符合作品的主题。</blockquote>
    </fieldset>
    <script src="~/Scripts/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script>
			//注意：折叠面板 依赖 element 模块，否则无法进行功能性操作
			layui.use('element', function() {
				var element = layui.element;

				//…
			});
    </script>
</body>
</html>
