<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Xus · 的自我介绍</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/Self_Introduction.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap-4.3.1.css" />
</head>
<body>
    <!-- 整体 -->
    <div class="container-fluid">
        <!-- 左侧飘窗 -->
        <div class="sidebar-outer">
            <div class="sidebar">
                <div class="sidebar-content">
                    <div class="profile-pic">
                        <a href="index.html">
                            <img src="~/Content/img/MyImg7.jpg" alt="">
                        </a>
                    </div>
                    <h6 style="font-weight: bold;">
                        黄泽旭<small>软件专业</small>
                    </h6>
                    <p>
                        <a href="#">
                        </a>GuangDong,<a href="#">China</a>
                    </p>
                    <ul class="social-links">
                        <li>
                            <a href="https://im.qq.com/" target="_blank" class="fb">
                                <i class="fa fa-wechat"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://im.qq.com/" target="_blank" class="fb">
                                <i class="fa fa-weibo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://im.qq.com/" target="_blank" class="fb">
                                <i class="fa fa-apple"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://im.qq.com/" target="_blank" class="fb">
                                <i class="fa fa-qq"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 主要展示信息 -->
        <div class="main-container clearfix">
            <div class="row">
                <div class="content-box bg add-pad anim">
                    <div class="block">
                        <h2 class="heading">关于我</h2>
                    </div>
                    <div class="intro-content">
                        <p>
                            &emsp;&emsp;本人性格开朗、稳重、有活力，待人热情、真诚，工作认真负责，积极主动，能吃苦耐劳，用于承受压力，勇于创新，有很强的组织能力和团队协作精神，具有较强的适应能力，纪律性强，工作积极配合，意志坚强，具有较强的无私奉献精神。
                        </p>
                        <ul class="profile-list">
                            <li class="clearfix"><strong class="title">Age</strong><span class="cont">20</span></li>
                            <li class="clearfix"><strong class="title">Address</strong><span class="cont">广东省广州市</span></li>
                            <li class="clearfix"><strong class="title">E-mail</strong><span class="cont"><a href="#">1421170337@qq.com</a></span></li>
                            <li class="clearfix">
                                <strong class="title">Phone</strong>
                                <span class="cont">
                                    <a href="#">
                                        +86 189 2955 4453
                                    </a>
                                </span>
                            </li>
                            <li class="clearfix"><strong class="title">Birth</strong><span class="cont">01 / 01 / 2001</span></li>
                            <li class="clearfix">
                                <strong class="title">
                                    <span class="button">Professional</span>
                                </strong>
                                <span class="cont">
                                    <i class="rsicon rsicon-calendar"></i>
                                    软件专业
                                </span>
                            </li>
                        </ul>
                        <!-- <p><a href="http://logicsforest.com/themeforest/reune/docs/Resume.doc" class="btn-default">Download Resume</a></p> -->
                    </div>
                </div>

                <div class="content-box bio_section">
                    <div class="timeline-box">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="heading">个人经历</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="timeline-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="inner">
                                    <div class="col-header">
                                        <div class="icon-box">
                                            <div class="icon-inner">
                                                <div class="icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <h2>工作经历</h2>
                                    </div>
                                    <!--Timeline Block-->
                                    <div class="timeline-block">
                                        <div class="inner-box">
                                            <div class="date">2019/03/18 - 2019/08/06</div>
                                            <h4>暑假实习</h4>
                                            <div class="text">
                                                &emsp;&emsp;学考确定完分数够格后便回家，前往申通公司线下网点进行日常工作。在半年的实习工作中，学习到了非常多的知识，
                                                基本了解快递物流的基本流程，也在过程中制作了许许多多的小工具帮助到客服、财务们，便捷她们的日常工作。
                                            </div>
                                        </div>
                                    </div>
                                    <!--Timeline Block-->
                                    <div class="timeline-block">
                                        <div class="inner-box">
                                            <div class="date">2020/07/20 - 2020/08/25</div>
                                            <h4>寒假实习</h4>
                                            <div class="text">
                                                &emsp;&emsp;疫情期间经历了5个多月的网课后，便回到去申通公司实习。重返公司，公司的相关制度也变了很多，感受到了
                                                与时俱进是公司赖以生存下去的根本。<br>&emsp;&emsp;同时也优化了上次暑期实习制作工具遗留下来的诟病：深入用户了解她们的行为习惯去完善自己的程序。
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="inner">
                                    <div class="col-header">
                                        <div class="icon-box">
                                            <div class="icon-inner">
                                                <div class="icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <h2>学习经历</h2>
                                    </div>
                                    <!--Timeline Block-->
                                    <div class="timeline-block">
                                        <div class="inner-box">
                                            <div class="date">2020/01/15</div>
                                            <h4>第一届《软件设计大赛》院级三等奖</h4>
                                            <!-- <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit Inventore adipisci excepturi
                                                dolorum.</div> -->
                                        </div>
                                    </div>
                                    <!--Timeline Block-->
                                    <div class="timeline-block">
                                        <div class="inner-box">
                                            <div class="date">2020/10/17 - 2020/11/14</div>
                                            <h4>第十一届《蓝桥杯》省赛一等奖</h4>
                                            <h4>第十一届《蓝桥杯》国赛三等奖</h4>
                                            <!-- <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit Inventore adipisci excepturi
                                                dolorum.</div> -->
                                        </div>
                                    </div>
                                    <!--Timeline Block-->
                                    <div class="timeline-block">
                                        <div class="inner-box">
                                            <div class="date">2020/10/17</div>
                                            <h4>第六届《"互联网"大学生创新创业大赛》校级二等奖</h4>
                                            <h4>第六届《"互联网"大学生创新创业大赛》院级二等奖</h4>
                                            <!-- <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit Inventore adipisci excepturi
                                                dolorum.</div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-box no-bg number-counters">
                    <div class="timeline-box">
                        <h2 class="heading">专业技能</h2>
                    </div>
                    <ul class="stat-list pro-skills">
                        <li>
                            <div class="stat-box counters-item skill-box">
                                <!-- <i class="fa fa-wordpress" aria-hidden="true"></i> -->
                                <span>数据结构</span>
                                <span class="skill-per">70%</span>
                                <div class="fill-bk">
                                    <b class="bar-fill" data-percent="70%" style="width: 0%;"></b>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="stat-box counters-item skill-box">
                                <!-- <i class="fa fa-css3" aria-hidden="true"></i> -->
                                <span>C语言</span>
                                <span class="skill-per">75%</span>
                                <div class="fill-bk">
                                    <b class="bar-fill" data-percent="75%" style="width: 0%;"></b>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="stat-box counters-item skill-box">
                                <!-- <i class="fa fa-drupal" aria-hidden="true"></i> -->
                                <span>C#</span>
                                <span class="skill-per">80%</span>
                                <div class="fill-bk">
                                    <b class="bar-fill" data-percent="80%" style="width: 0%;"></b>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="stat-box counters-item skill-box">
                                <!-- <i class="fa fa-html5" aria-hidden="true"></i> -->
                                <span>HTML &amp; CSS</span>
                                <span class="skill-per">65%</span>
                                <div class="fill-bk">
                                    <b class="bar-fill" data-percent="65%" style="width: 0%;"></b>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="stat-box counters-item skill-box">
                                <!-- <i class="fa fa-code" aria-hidden="true"></i> -->
                                <span>PHP &amp;MySQL</span>
                                <span class="skill-per">90%</span>

                                <div class="fill-bk">
                                    <b class="bar-fill" data-percent="90%" style="width: 0%;"></b>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="stat-box counters-item skill-box">
                                <!-- <i class="fa fa-paint-brush" aria-hidden="true"></i> -->
                                <span>面向对象</span>
                                <span class="skill-per">75%</span>
                                <div class="fill-bk">
                                    <b class="bar-fill" data-percent="75%" style="width: 0%;"></b>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content-box bio_section">

                    <div class="timeline-box">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="heading">个人生活照</h2>
                            </div>
                        </div>
                        <div class="slider slider-for slick-initialized slick-slider">
                            <div aria-live="polite" class="slick-list draggable">
                                <div class="slick-track" role="listbox" style="opacity: 1; width: 3267px;">
                                    <div class="row slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1"
                                         role="option" aria-describedby="slick-slide10" style="width: 1222px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                                        <div class="col-xl-10 col-lg-10 col-sm-12">
                                            <div class="review-text">
                                                <div class="desination">我的生活</div>
                                                <div class="author-name">Xus·Journal</div>
                                                <div class="quote-icon"><span class="icon fa fa-quote-left"></span></div>
                                                <div class="content">
                                                    <div class="text">
                                                        &emsp;&emsp;我不得不提醒自己有些鸟是不能关在笼子里的，他们的羽毛太漂亮了，当他们飞走的时候，你会觉得把他们关起来是种罪恶，但是，他们不在了你会感到寂寞，可是我只是想我的朋友了。
                                                        <br>
                                                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                                        ——瑞德
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-sm-12" style="margin-left: 144px;">
                                            <div class="review-img">
                                                <div class="layui-carousel" id="test1">
                                                    <div carousel-item>
                                                        <img src="~/Content/img/MyImg13.jpg">
                                                        <img src="~/Content/img/MyImg14.jpg">
                                                        <img src="~/Content/img/MyImg15.jpg">
                                                        <img src="~/Content/img/MyImg16.jpg">
                                                        <img src="~/Content/img/MyImg17.jpg">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/jquery.slides.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/waypoint.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/jquery.sticky-kit.min.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var time = false,
            data = false;
        layui.use('carousel', function () {
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '#test1',
                width: '100%', //设置容器宽度
                height: "400px",
                arrow: 'always' //始终显示箭头
            });
            $(window.parent.window).scroll(function () {
                if ($(window.parent.window).scrollTop() < 100) {
                    $(".timeline-column").slideUp(0);

                }
                if ($(window.parent.window).scrollTop() > 600) {
                    $(".timeline-column").slideDown(500);
                }
                if ($(window.parent.window).scrollTop() > 1400 && data == false) {
                    $(".bar-fill").each(function () {
                        $(this).animate({
                            width: $(this).attr("data-percent")
                        }, 2000);
                    })
                }
            });
        });
    </script>
</body>
</html>
