<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>博客开发时间线</title>
    <link rel="stylesheet" type="text/css" href="~/Scripts/layui/css/layui.css" />
    <link href="~/Content/css/timeline.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="~/Content/img/cd-icon-picture.svg" alt="Picture">
            </div><!-- cd-timeline-img -->
            <div class="cd-timeline-content">
                <h2>服务器的布置</h2>
                <p>
                    <span class="layui-badge layui-bg-gray" style="text-indent: 0;">1</span>&nbsp;
                    服务器安装部署 Redis(Remote Dictionary Server)内存高速缓存数据库、MySql数据库。安装IIS(Internet 服务器)组件，部署asp环境。
                </p>
                <span class="layui-badge layui-bg-green">良好</span>
                <span class="cd-date"> · 15 / 01 / 2021</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="~/Content/img/cd-icon-movie.svg" alt="Movie">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>博客后台的建设</h2>
                <p>
                    <span class="layui-badge layui-bg-gray" style="text-indent: 0;">1</span>&nbsp;
                    完善后台管理员对用户的基本操作：用户管理、文章管理、页面展示元素管理的增删改查。
                </p>
                <p>
                    <span class="layui-badge layui-bg-gray" style="text-indent: 0;">2</span>&nbsp;
                    增加数据概览模块，让管理员快速轻松了解博客的运行状况已经每日数据。
                </p>
                <p>
                    <span class="layui-badge layui-bg-gray" style="text-indent: 0;">3</span>&nbsp;
                    添加聊天室观察模块，可以实时观察到聊天室的运行状态、发言数据，同时也可以进行修改聊天室房间名、禁用用户发言操作。
                </p>
                <span class="layui-badge layui-bg-green">一般</span>
                <span class="cd-date">13 / 01 / 2021 · </span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="~/Content/img/cd-icon-leisure.svg" alt="Picture">
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content">
                <h2>博客新增休闲板块</h2>
                <p>
                    <span class="layui-badge layui-bg-gray" style="text-indent: 0;">1</span>&nbsp;
                    增加网页纯JS小游戏【火柴人】，加入游戏分数排行榜功能。
                </p>
                <p>
                    <span class="layui-badge layui-bg-gray" style="text-indent: 0;">2</span>&nbsp;
                    加入Socket聊天室休闲娱乐空间，完成与原博客的用户对接，区分游客模式与用户模式。
                </p>
                <span class="layui-badge layui-bg-green">良好</span>
                <span class="cd-date"> · 12 / 01 / 2021</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="~/Content/img/cd-icon-strive.svg" alt="Location">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>网页拓展页面的完善</h2>
                <p>
                    <span class="layui-badge layui-bg-gray" style="text-indent: 0;">1</span>&nbsp;
                    完善网站设计初衷、作者介绍、技术文档页面，完成各个页面之间的对接

                </p>
                <span class="layui-badge layui-bg-green">优秀</span>
                <span class="cd-date">11 / 01 / 2021 · </span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="~/Content/img/cd-icon-message.svg" alt="Location">
            </div> <!-- cd-timeline-img -->
            `
            <div class="cd-timeline-content">
                <h2>留言功能与聊天室逻辑代码的编写</h2>
                <p>
                    <span class="layui-badge layui-bg-gray" style="text-indent: 0;">1</span>&nbsp;
                    音乐盒前端的样式编写与美化，JS异步获取留言数据、提交留言、点赞功能的实现，后端登录判断以及点赞、留言功能的代码实现。
                </p>
                <p>
                    <span class="layui-badge layui-bg-gray" style="text-indent: 0;">2</span>&nbsp;
                    Socket聊天室后端使用ASP.NET Web API框架完成对用户发送的信息进行交互，广播消息以及增加系统消息等等...
                </p>
                <span class="layui-badge layui-bg-green">苦逼</span>
                <span class="cd-date"> · 10 / 01 / 2021</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
                <img src="~/Content/img/cd-icon-user.svg" alt="Movie">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>登录注册功能编写</h2>
                <p>
                    <span class="layui-badge layui-bg-gray" style="text-indent: 0;">1</span>&nbsp;
                    博客完成登录注册功能，BaseController类负责增个网站的用户登录判断。
                </p>
                <p>
                    <span class="layui-badge layui-bg-gray" style="text-indent: 0;">2</span>&nbsp;
                    加入用户信息查询功能，可自行查询、修改用户信息，更换头像等功能。
                </p>
                <span class="layui-badge layui-bg-green">良好</span>
                <span class="cd-date">09 / 01 / 2021 · </span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
    </section> <!-- cd-timeline -->
    <script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="~/Scripts/modernizr.js"></script>
    <script>
        $(function () {
            var $timeline_block = $('.cd-timeline-block');
            //隐藏时间线块是在视口之外
            $timeline_block.each(function () {
                if ($(this).offset().top > $(window).scrollTop() + $(window).height() * 0.75) {
                    $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
                }
            });
            //在滚动时，当进入视口时显示/动画时间线块
            $(window.parent).on('scroll', function () {
                $timeline_block.each(function () {
                    if ($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.75 && $(this).find(
                        '.cd-timeline-img').hasClass('is-hidden')) {
                        $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                    }
                });
            });
        });
    </script>
    <!-- <script src="layui/css/layui.js" charset="utf-8"></script> -->
</body>
</html>
