*{
	font-family: SemiBold;
	text-decoration: none;
	margin: 0;
}

.Content {
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    transition: all 2s;
}

.Today_Wallpaper {
    padding: 30px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 4px 4px 16px #00000021;
    height: 100%;
}
._tittle {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    padding: 14px;
    margin-bottom: 16px;
    border-bottom: 3px dashed #ececec;
}

.Wallpaper {
    display: inline-block;
}
.Wallpaper, .Cinema {
    position: relative;
    padding-top: 25px;
    text-align: center;
}	

.InputData {
    margin-bottom: 2rem !important;
}
